@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Lunasima:wght@400;700&display=swap');

:root {
    --primary-colour: #3B82F6;
    --primary-colour-light: #DBEAFE;
    --primary-colour-dark: #1E3A8A;
    --background-colour: #9197A1;
    --success-msg: #D1FAE5;
    --success-msg-text: #065F46;
    --error-msg: #FEE2E2;
    --error-msg-text: #B91C1C;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lunasima', sans-serif;
    font-weight: 700;
    background-color: var(--background-colour);
    line-height: 1.6;
    color: #333;
}

.header {
    background-color: var(--primary-colour);
    color: white;
    padding: 2rem 1rem;
    text-align: center;
}

.btn {
    border: none;
    outline: none;
    display: block;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* Clock */
.clock-container {
    background-color: var(--primary-colour-light);
    color: var(--primary-colour-dark);
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    font-family: 'inconsolata', monospace;
    letter-spacing: 2px;
    border-bottom: 2px solid var(--primary-colour);
}

@media screen and (max-width: 768px) {
    .clock-container {
        font-size: 1.4rem;
        padding: 0.75rem;
    }
}

/* Calendar Container */
.calendar {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 1.5rem;
    background-color: white;
    border-radius: .5rem;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.6);
}

.arrow-btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.calendar__previous-month,
.calendar__next-month {
    background: linear-gradient(180deg, var(--primary-colour-light), var(--primary-colour));
    padding: 10px;
    width: 5%;
    font-size: 1.5rem;
}

.calendar__previous-month:active,
.calendar__next-month:active {
    background: linear-gradient(180deg, var(--primary-colour), var(--primary-colour-light));
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

/* Mobile grid view */
@media screen and (max-width: 1024px) {
    .calendar-grid {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        gap: 10px;
    }

    .day, .day-name {
        min-width: 140px;
        flex-shrink: 0;
        scroll-snap-align: start;
    }
}

.day, .day-name {
    text-align: center;
}

.day {
    background-color: #FFF;
    border: 1px solid #E5E7EB;
    border-radius: 6px;
    min-height: 100px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    cursor: pointer;
    transition: background .2s ease;
}

.day:hover {
    background-color: #F3F4F6;
}

.day__today {
    background-color: var(--primary-colour-light);
    border-color:  var(--primary-colour-dark);
}

.date-number {
    font-weight: bold;
    margin-bottom: 5px;
}

.event {
    background-color:  var(--primary-colour-dark);
    color: white;
    padding: 3px 6px;
    border-radius: 4px;
    margin-top: 14px;
    font-size: 14px;
    cursor: pointer;
    transition: transform .2s ease;
}

/* Alert boxes */

.alert {

}

.event:hover {
    transform: scale(1.03);
}

.form-label, .event__siteLabel {
    font-size: 1.2rem;
}

.form-input, .event-selection {
    width: 100%;
    font-size: 1.2rem;
    padding: .8rem .1rem;
    border-radius: .3rem;
    border: none;
    outline: none;
}

.required-ast {
    color: red;
}