/* Tablet screen styles */

@media screen and (min-width: 768px) {

    /* ------------------ Header/Nav Styles ------------------ */

    /* Style the navigation bar */
    .site-navigation {
        padding: 10px;
        background-color: #212d22;
        font-size: 1.4rem;
        position: sticky;
        top: 0;
        z-index: 1000;
    }

    /* Style the layout of the navigation bar */
    .site-navigation-layout {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    /* ------------------ Main Content Styles ------------------ */

    /* Style the main content container */
    .main-content {
        padding: 0;
    }

    /* Style the page title */
    .page-title {
        font-size: 3rem;
    }

    /* Style the entry card container */
    .container {
        width: 90%
    }

    /* Style the entry card */
    .entry-card {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        justify-content: space-between;
    }

    /* Style the entry card content */
    .entry-card__content {
        padding: 20px;
    }

    /* Style the entry card heading */
    .entry-card__title {
        font-size: 2rem;
        padding-left: 0;
    }

    /* Style the entry card image */
    .entry-card__image {
        box-shadow: 0.25rem 0 1rem rgba(0, 0, 0, 0.3);
    }

    /* Style the entry card paragraph */
    .entry-card__paragraph {
    }

    /* Style the pagination list */
    .pagination {
        justify-content: flex-end;
        align-items: center;
        font-size: 1.5rem;
    }

}