/* General site and mobile screen styles */

/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Russo+One&display=swap');

/* ------------------ Across all devices ------------------ */

/* Font for the entire site */
html {
    font-family: 'Aldrich', sans-serif;
}

/* Font for all site headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Russo One', sans-serif;
}

/* Remove text decoration from all links */
a {
    text-decoration: none;
}

/* ------------------ Header/Nav Styles ------------------ */

/* Style the navigation bar */
.site-navigation {
    padding: 10px;
    background-color: #212d22;
    font-size: 1.4rem;
}

/* Style the layout of the navigation bar */
.site-navigation-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 10px;
    width: 100%;
}

/* Style the homepage link */
.site-navigation__homepage-link {
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #f4f0ec;
}

/* Homepage link hover effect */
.site-navigation__homepage-link:hover {
    text-decoration: underline;
}

/* Homepage link active effect */
.site-navigation__homepage-link:active {
    color: #DAA360;
}

/* Style the logo */
.homepage-link__logo {
    width: 3.5rem;
    border-radius: 5%;
}

/* Style the new entry button */
.new-entry-btn {
    background-color: #DAA360;
    border: 4px outset #BEAD9B;
    color: #311914;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    transition: all 0.2s ease;
}

/* Style colour of the entry button link */
.new-entry-btn__btn-link {
    color: #311914;
}

/* Button hover effect */
.new-entry-btn:hover {
    background-color: #c88b44;
}

/* Button active effect */
.new-entry-btn:active {
    background-color: #311914;
    color: #DAA360;
    border: 4px inset #BEAD9B;
}

/* ------------------ Main Content Styles ------------------ */

.main-content {
    padding: 0 10px;
}

/* Style the page title */
.page-title {
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

/* Style the entry container */
.container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    width: 95%;
    margin: 0 auto;
}

/* Style the entry card */
.entry-card {
    background-color: #edebe9;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
    width: 100%;
    row-gap: 20px;
    overflow: hidden;
}

/* Style the entry card content */
.entry-card__content {
    padding: 10px;
    color: #75314a;
}

/* Style the entry card time stamp */
.entry-card__time {
    text-transform: uppercase;
    font-weight: bold;
}

/* Style the entry card heading */
.entry-card__title {
    font-size: 1.5rem;
    margin: 1rem 0 1rem 0;
    letter-spacing: 0.03em;
}

/* Style the horizontal rule */
hr {
    border: 2px solid #311914;
}

/* Style the entry card image */
.entry-card__image {
    display: block;
    width: 100%;
    object-fit: cover;
}












